<style>
    #navbar {
        background: #660460;
        min-height: 50px;
        display: flex;
        align-items: center;
        margin: 10px 20px;
        padding-left: 7px;
    }
    #navbar > a {
        border-radius: 10px;
        background: brown;
        padding: 5px 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

    #navbar > a:hover {
        scale: 130%;
    }

    #navbar > a:active {

    }
</style>

<div id="navbar">
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
    <a href="/stats">Statistics</a>
    <a href="{{ site.github_url }}">Github</a>
</div>
